<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header'); %>
    <main>
        <div class="ui segment">
            <h1>Faction List</h1>
            <div class="ui middle aligned divided list">
                <div class="item">
                    <div class="right floated content">
                        <div class="ui button">Add</div>
                    </div>
                    <img class="ui avatar image" src="#">
                    <div class="content">
                        <div class="ui input">
                            <input type="text" placeholder="Faction Name">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui cards">
                <div class="card">
                    <div class="content">
                    <img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg">
                    <div class="header">
                        faction_name (faction_id)
                    </div>
                    <div class="meta">
                        faction_tag
                    </div>
                    <div class="description">
                        Created_At
                    </div>
                    </div>
                    <div class="extra content">
                    <div class="ui two buttons">
                        <div class="ui basic blue button">Edit</div>
                        <div class="ui basic red button">Delete</div>
                    </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                    <img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg">
                    <div class="header">
                        faction_name
                    </div>
                    <div class="meta">
                        faction_tag
                    </div>
                    <div class="description">
                        Created_At
                    </div>
                    </div>
                    <div class="extra content">
                    <div class="ui two buttons">
                        <div class="ui basic blue button">Edit</div>
                        <div class="ui basic red button">Delete</div>
                    </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                    <img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg">
                    <div class="header">
                        faction_name
                    </div>
                    <div class="meta">
                        faction_tag
                    </div>
                    <div class="description">
                        Created_At
                    </div>
                    </div>
                    <div class="extra content">
                    <div class="ui two buttons">
                        <div class="ui basic blue button">Edit</div>
                        <div class="ui basic red button">Delete</div>
                    </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                    <img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg">
                    <div class="header">
                        faction_name
                    </div>
                    <div class="meta">
                        faction_tag
                    </div>
                    <div class="description">
                        Created_At
                    </div>
                    </div>
                    <div class="extra content">
                    <div class="ui two buttons">
                        <div class="ui basic blue button">Edit</div>
                        <div class="ui basic red button">Delete</div>
                    </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                    <img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg">
                    <div class="header">
                        faction_name
                    </div>
                    <div class="meta">
                        faction_tag
                    </div>
                    <div class="description">
                        Created_At
                    </div>
                    </div>
                    <div class="extra content">
                    <div class="ui two buttons">
                        <div class="ui basic blue button">Edit</div>
                        <div class="ui basic red button">Delete</div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <%- include('./partials/footer'); %>
</body>
</html>