<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header'); %>
    <main>
        <div class="ui segment">
            <h1>Frontend can fuck itself :]</h1>
            <p>This is a very high quality dashboard to manage static data files :]</p>
        </div>
    </main>
    <%- include('./partials/footer'); %>
</body>
</html>